.logo {
  width: 55px;
}

body {
  background-size: cover;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  min-height: 100vh;
}
.size {
  font-size: 80px;
}
.city {
  font-size: 50px;
}
.back {
  background: #0990da;
  background-image: url("https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  box-shadow: -1px 17px 19px 1px rgb(207, 236, 249);
}
.noBorder {
  border: none !important;
}
.icon {
  font-size: 28px;
  color: black;
}
.font_text {
  font-size: 25px;
}
.colorBack {
  background: linear-gradient(90deg, rgba(0, 106, 210, 1) 2%, rgba(7, 170, 255, 1) 99%);
}
.badgeSize {
  font-size: 20px !important;
  position: absolute;
}
.iconImg {
  width: 100px !important;
}
.button {
  max-height: 39px !important;
}
.topBar {
  background: rgb(0, 106, 210);
  background: linear-gradient(90deg, rgba(0, 106, 210, 1) 2%, rgba(7, 170, 255, 1) 99%);
}
.position {
  position: sticky;
}
